<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pojo.AdminMapper">
	<resultMap type="Administrators" id="adminMap">
		<id property="id" column="id" />
		<result property="userName" column="userName" jdbcType="VARCHAR" />
		<result property="password" column="password" jdbcType="VARCHAR" />
	</resultMap>
	<select id="checkAdmin" parameterType="Map" resultMap="adminMap">
		select * from loginMembers where userName = #{userName} and password= #{password}
	</select>
</mapper>